<%- include('partials/header.ejs') %>

<% if(isLogin) { %>
<h1>Choose the post you want to delete!</h1>
<% if(posts.length > 0) { %>
<div class="container">
    <div class="row">
       
          <% posts.forEach(post => { %>
            <div class="col-md-4">
                <a href="/delete/<%= post.id %>" class="card" >
                    <img src="<%= post.image %>" alt="web post card" class="card__img">
                    <span class="card__footer">
                      <span><%= post.title %></span>
                    </span>
                    
                  </a>
            </div>
            <% }) %>
        
    </div>
</div>
<% } else { %>
  <h2>There is no posts to delete  </h2>
<% } %>
<% } else { %>
  <h1>Please login to delete the post</h1>
<%} %>
        




<%- include('partials/footer.ejs') %>
